# Setup ðŸ’»

### A. Importer les librairies

In [2]:
import pandas as pd

### B. Charger le FEC en dataframe

In [3]:
fec_df = pd.read_csv('https://gist.githubusercontent.com/louischavane/a82c3d1af85adfee5a73e1f12a40a800/raw/cf257fd945c89cfa9af63be1a85af8af82b565a7/fec.csv')

# On commence l'analyse Ã  partir d'ici ðŸ”¥

## 1. Pouvez-vous afficher les 10 premiÃ¨res lignes du dataset ?

In [4]:
fec_df.head(10)

,JournalCode,JournalLib,EcritureNum,EcritureDate,CompteNum,CompteLib,CompAuxNum,CompAuxLib,PieceRef,PieceDate,...,Credit,EcritureLet,DateLet,ValidDate,Montantdevise,Idevise,DateRglt,ModeRglt,NatOp,IdClient
0,AN,A-NOUVEAU,AN0000001,20190101,10130000,Lib_1,NaN,NaN,1,20190101,...,"1000,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
1,AN,A-NOUVEAU,AN0000001,20190101,10611000,Lib_2,NaN,NaN,1,20190101,...,"100,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
2,AN,A-NOUVEAU,AN0000001,20190101,10680000,Lib_3,NaN,NaN,1,20190101,...,"14147,06",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
3,AN,A-NOUVEAU,AN0000001,20190101,16400000,Lib_4,NaN,NaN,1,20190101,...,"90399,82",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
4,AN,A-NOUVEAU,AN0000001,20190101,16410000,Lib_4,NaN,NaN,1,20190101,...,"100000,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
5,AN,A-NOUVEAU,AN0000001,20190101,21810000,Lib_5,NaN,NaN,1,20190101,...,"0,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
6,AN,A-NOUVEAU,AN0000001,20190101,21830000,Lib_6,NaN,NaN,1,20190101,...,"0,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
7,AN,A-NOUVEAU,AN0000001,20190101,21840000,Lib_7,NaN,NaN,1,20190101,...,"0,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
8,AN,A-NOUVEAU,AN0000001,20190101,27500000,Lib_8,NaN,NaN,1,20190101,...,"0,00",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN
9,AN,A-NOUVEAU,AN0000001,20190101,28181000,Lib_9,NaN,NaN,1,20190101,...,"61,26",NaN,NaN,20200403,NaN,EUR,NaN,NaN,NaN,NaN

## 2. Est-ce qu'il manque des valeurs dans ce jeu de donnÃ©es ?

In [5]:
fec_df.isnull().sum()

JournalCode          0
JournalLib           0
EcritureNum          0
EcritureDate         0
CompteNum            0
CompteLib            0
CompAuxNum       11924
CompAuxLib       11924
PieceRef             0
PieceDate            0
EcritureLib          0
Debit                0
Credit               0
EcritureLet      11924
DateLet          11924
ValidDate            0
Montantdevise    11924
Idevise              0
DateRglt         11924
ModeRglt         11924
NatOp            11924
IdClient         11924
dtype: int64

## 6. Est-ce que vous pouvez supprimer les colonnes qui sont vides ?

In [6]:
columns_to_drop = ['CompAuxNum', 'CompAuxLib', 'EcritureLet', 'DateLet', 'Montantdevise', 'DateRglt', 'ModeRglt', 'NatOp', 'IdClient']
fec_df.drop(columns_to_drop, axis="columns", inplace=True)

## 3. Combien d'Ã©critures sont prÃ©sentes dans ce FEC ?

In [7]:
fec_df.shape

(11924, 13)

## Combien de journaux sont prÃ©sentÃ©s dans le FEC ?

In [10]:
fec_df["JournalCode"].unique()

array(['AN', 'CI', 'HA', 'MB', 'OD', 'UT'], dtype=object)